<!--=====================================
	Footer
	======================================-->

<footer class="ps-footer">
  <div class="container">
    <div class="ps-footer__widgets">
      <!--=====================================
				Contacta
				======================================-->

      <aside class="widget widget_footer widget_contact-us">
        <h4 class="widget-title">Contacta</h4>

        <div class="widget_content">
          <p>Llámanos 24/7</p>
          <h3>916 61 61 69</h3>
          <p>
            C/ Almendros 345, Madrid <br />
            <a href="mailto:contact@shopconcept">contact@shopconcept</a>
          </p>

          <ul class="ps-list--social">
            <li>
              <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a class="google-plus" href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </aside>

      <!--=====================================
				Accesos rápidos
				======================================-->

      <aside class="widget widget_footer">
        <h4 class="widget-title">Accesos Rápidos</h4>

        <ul class="ps-list--link">
          <li><a href="#">Políticas</a></li>

          <li><a href="#">Términos y condiciones</a></li>

          <li><a href="#">Envíos</a></li>

          <li><a href="#">Devoluciones</a></li>

          <li><a href="#">FAQs</a></li>
        </ul>
      </aside>

      <!--=====================================
				Nosotros
				======================================-->

      <aside class="widget widget_footer">
        <h4 class="widget-title">Nosotros</h4>

        <ul class="ps-list--link">
          <li><a href="#">Sobre Nosotros</a></li>

          <li><a href="#">Afiliados</a></li>

          <li><a href="#">Contacta</a></li>
        </ul>
      </aside>

      <!--=====================================
				En los medios
				======================================-->

      <aside class="widget widget_footer">
        <h4 class="widget-title">En los medios</h4>

        <ul class="ps-list--link">
          <li><a href="#">Noticias</a></li>

          <li><a href="#">Blog</a></li>

          <li><a href="#">Consejos</a></li>
        </ul>
      </aside>
    </div>

    <!--=====================================
			Menú categorías
			======================================-->

    <div class="ps-footer__links">
      <p *ngFor="let category of categories; let lastIndex = last">
        <strong [attr.category-footer]="category.name">{{
          category.name
        }}</strong>

        {{ lastIndex ? callback() : "" }}
      </p>
    </div>

    <!--=====================================
			CopyRight - Métodos de pago
			======================================-->

    <div class="ps-footer__copyright">
      <p>© 2020 ShopConcept. Todos los derechos reservados</p>

      <p>
        <span>Nuestros métodos de pago:</span>

        <a href="#">
          <img src="{{ path }}img/payment-method/1.jpg" alt="pago1" />
        </a>

        <a href="#">
          <img src="{{ path }}img/payment-method/2.jpg" alt="pago2" />
        </a>

        <a href="#">
          <img src="{{ path }}img/payment-method/3.jpg" alt="pago3" />
        </a>

        <a href="#">
          <img src="{{ path }}img/payment-method/4.jpg" alt="pago4" />
        </a>

        <a href="#">
          <img src="{{ path }}img/payment-method/5.jpg" alt="pago5" />
        </a>
      </p>
    </div>
  </div>
</footer>
